footer {
  margin-top: 50px;
  min-width: 400px;
  height: 100%;
  width: available;
  box-shadow: 0 -2px 10px 5px #c7c9cc;
  border-top: black solid;
  background-color: #c7c9cc;
}

footer div {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 5%;
}

footer q {
  margin-left: 5px;
}
