header {
  padding-bottom: 0;
  border-bottom: black solid;
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 20px 1px #000000;
  background-color: #ffffff;
  max-height: 400px;
}

@media (max-width: 600px) {
  header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  ul.navigation {
    margin-bottom: 10px;
    margin-top: 15px;
    padding: 0;
    flex-wrap: wrap;
    list-style-type: none;
    display: flex;
    justify-content: left;
  }

  header nav img {
    margin-top: 20px;
    height: 90px;
    width: 90px;
  }
}

@media (max-width: 1200px) and (min-width: 600px) {
  header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  ul.navigation {
    margin-bottom: 10px;
    margin-top: 30px;
    padding: 0;
    flex-wrap: wrap;
    list-style-type: none;
    display: flex;
    justify-content: center;
  }

  header nav img {
    margin-top: 20px;
    height: 90px;
    width: 90px;
  }
}

@media (min-width: 1200px) {
  header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  ul.navigation {
    margin-bottom: 0;
    padding: 0;
    flex-wrap: wrap;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 70px;
  }

  header nav img {
    margin-top: 5px;
    height: 90px;
    width: 90px;
  }
}

ul.navigation li button {
  background-color: #ffffff;
  margin: 1px;
  border-bottom: #ffb300 solid;
  box-shadow: 0 1px #101010;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 5px;
  min-width: 210px;
  display: inline-block;
  vertical-align: bottom;
  font-weight: bold;
}
