header {
  padding-bottom: 0;
  border-bottom: black solid;
  position: fixed;
  z-index: 100;
  min-width: 900px;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 20px 1px #000000;
  background-color: #ffffff;
  max-height: 400px;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header nav img {
  margin-top: 5px;
  height: 90px;
  width: 90px;
}

ul.navigation {
  margin-bottom: 0;
  padding: 0;
  flex-wrap: wrap;
  list-style-type:none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 70px;
}

ul.navigation li button {
  background-color: #ffffff;
  margin-right: 2px;
  margin-left: 2px;

  border-bottom: #ffb300 solid;
  border-top: none;
  border-left: none;
  border-right: none;
  min-width: 210px;
  display: inline-block;
  vertical-align: bottom;
  font-weight: bold;
}
