main {
  margin-top: 150px;
  min-width: 400px;
  display: flex;
  justify-content: left;
  flex-direction: row;
}

main div {
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}



aside.functions {
  width: 150px;
}

aside.functions ul {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

aside.functions li button {
  min-width: 150px;
  background-color: #F9F9F9;
  border-color: #000000;
  border-width: 2px;
  border-radius: 5px;
  box-shadow: 0 2px 3px #101010;
}



section.cards {
  overflow: auto;
  height: 75%;
  margin-left: 30px;
}

section.cards ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: right;
}

section.cards li {
  border: 1px outset #000000;
  border-radius: 10px;
  box-shadow: 0 2px 3px #101010;
  background-color: #F9F9F9;
  width: 600px;
}

div.money {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
}

section.cards pre {
  padding-left: 250px;
}



section.history {
  overflow: auto;
  max-height: 800px;
  margin-left: 50px;
}

section.history ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section.history li {
  border: 1px outset #000000;
  background-color: #F9F9F9;
  border-radius: 5px;
  box-shadow: 0 2px 3px #101010;
  height: 100px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
