main {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-height: 75%;
  flex-wrap: wrap;
}



aside.functions {
  margin-top: 55px;
  max-height: 75%;
  width: 250px;
}

aside.functions ul {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

aside.functions li button {
  min-width: 250px;
  background-color: #e6f0ff;
  border-color: #000000;
  border-width: 2px;
  border-radius: 5px;
  box-shadow: 0 2px 6px 1px #101010;
  font-weight: bold;
}



section.cards {
  height: 1000px;
  margin-left: 70px;
}

section.cards h2 {
  margin-top: 0;
  padding: 0;
  margin-bottom: 15px;
  font-size: 30px;
}

section.cards ul {
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section.cards ul::-webkit-scrollbar {
  width: 7px;
  background-color: #99c2ff;
}

section.cards ul::-webkit-scrollbar-thumb {
  background-color: #005ce6;
  border-radius: 5px;
  border: 2px black solid;
}

section.cards li article {
  border: 1px outset #000000;
  border-radius: 10px;
  box-shadow: 0 2px 1px #101010;
  background-color: #e6f0ff;
  width: 600px;
  height: 120px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
}

div.money {
  margin-top: 10px;
  display: flex;
  justify-content: left;
  padding-left: 50px;
  font-size: 30px;
  font-weight: bold;
  min-width: 200px;
}

section.cards img {
  display: flex;
  justify-content: right;
  margin: 5px 5px 10px 100px;
  height: 110px;
  width: 240px;
}

section.cards pre {
  margin-left: 30px;
  display: flex;
  justify-content: right;
  margin-right: 30px
}



section.history {
  display: flex;
  flex-direction: column;
  height: 1000px;
  margin-left: 50px;
}

section.history h2 {
  margin-top: 0;
  padding: 0;
  margin-bottom: 15px;
  font-size: 30px;
}

section.history ul {
  list-style-type: none;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}

section.history li {
  margin-top: 0;
  margin-bottom: 5px;
  border: 1px outset #000000;
  background-color: #e6f0ff;
  border-radius: 5px;
  box-shadow: 0 2px 1px #101010;
  height: 100px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p.positive {
  color: green;
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
}

p.negative {
  color: red;
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
}

p.date {
  margin: 0 10px 0 160px;
}

section.history ul::-webkit-scrollbar {
  width: 7px;
  background-color: #99c2ff;
}

section.history ul::-webkit-scrollbar-thumb {
  background-color: #005ce6;
  border-radius: 5px;
  border: 2px black solid;
}
