img {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: left;
  max-height: 120px;
  max-width: 120px;
}

aside.functions {
  width: 150px;
}

aside.functions ul {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

aside.functions li button {
  min-width: 150px;
  background-color: #F9F9F9;
  border-color: #000000;
  border-width: 2px;
  border-radius: 5px;
  box-shadow: 0 2px 3px #101010;
}


ul.navigation {
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  list-style-type:none;
  display: flex;
  justify-content: left;
  flex-direction: row;
}

ul.navigation li button {
  background-color: #F9F9F9;
  border-color: #000000;
  border-radius: 5px;
  border-width: 2px;
  min-width: 200px;
  box-shadow: 0 2px 3px #101010;
}


section.history {
  overflow: auto;
  display: inline-block;
  max-height: 550px;
  margin-left: 50px;
}

section.history ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

div.center {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

section.history li {
  border: 1px outset #000000;
  background-color: #F9F9F9;
  border-radius: 5px;
  box-shadow: 0 2px 3px #101010;
  height: 100px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.cards {
  overflow: auto;
  display: flex;
  max-height: 550px;
}

section.cards ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: right;
}

section.cards pre {
  padding-left: 250px;
}

section.cards li {
  border: 1px outset #000000;
  border-radius: 10px;
  box-shadow: 0 2px 3px #101010;
  background-color: #F9F9F9;
  width: 600px;
}

div.money {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
}

body {
  background-color: #f6f7f8;
  width: available;
  margin: 0;
}

body main {
  min-width: 400px;
  margin-left: 5%;
  display: flex;
  justify-content: left;
  flex-direction: row;
}

body main div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

body header {
  min-width: 400px;
  margin-bottom: 40px;
  display: flex;
  margin-left: 5%;
  flex-direction: column;
  justify-content: left;
}

body footer {
  margin-top: 50px;
  min-width: 400px;
  width: available;
  box-shadow: 0 -2px 20px 20px #c7c9cc;
  background-color: #c7c9cc;
}

body footer div {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 5%;
}

q {
  margin-left: 5px;
}

