h1 {
  margin-left: 5px;
}

h2 {
  margin-left: 5px;
}

aside.functions {
  float: left;
  width: 150px;
  margin-left: 5px;
}

aside.functions ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

aside.functions li button {
  display: block;
  min-width: 150px;
  background-color: #F9F9F9;
  border-color: #B1C7C7;
  border-width: 2px;
  border-radius: 5px;
}


ul.navigation {
  padding-left: 5px;
  padding-bottom: 10px;
  list-style-type:none;
}

ul.navigation li button {
  float: left;
  background-color: #F9F9F9;
  border-color: #B1C7C7;
  border-radius: 5px;
  border-width: 2px;
  min-width: 150px;
}


aside.history {
  float: right;
  overflow: auto;
  max-height: 550px;
  margin-right: 5px;
}

aside.history ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

aside.history li {
  border: 1px outset #B1C7C7;
  background-color: #F9F9F9;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}


main {
  overflow: auto;
  max-width: 800px;
  min-width: 400px;
  margin: auto;
  background-color: #DDF9F9;
  padding-bottom: 5px;
  border-bottom: 1px #687B7E solid;
}

header {
  overflow: auto;
  max-width: 800px;
  margin: auto;
  background-color: #DDF9F9;
  border-bottom: 1px #687B7E solid;
}

footer {
  overflow: auto;
  max-width: 800px;
  margin: auto;
  background-color: #DDF9F9;
}

section.cards {
  overflow: auto;
  max-height: 550px;
  margin-right: 140px;
}

section.cards ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: right;
}

section.cards pre {
  padding-left: 180px;
  padding-right: 5px;
}

section.cards li {
  border: 1px outset #B1C7C7;
  background-color: #F9F9F9;
  max-width: 500px;
}

div.money {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
}

body {
  background-color: #687B7E;
}

q {
  margin-left: 5px;
}
