aside.functions {
  float: left;
  width: 150px;
}

aside.functions ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

aside.functions li button {
  display: block;
  min-width: 150px;
}


ul.navigation {
  margin: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

ul.navigation li button {
  display: block;
  min-width: 100px;
}


aside.history {
  float: right;
}

aside.history ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

aside.history li {
  border: 3px outset black;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}


main {
  overflow: auto;
  max-width: 800px;
  min-width: 400px;
  margin: auto;
}

header {
  overflow: auto;
  max-width: 800px;
  margin: auto;
}

footer {
  overflow: auto;
  max-width: 800px;
  margin: auto;
}

section.cards {
  margin-right: 140px;
}

section.cards ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: right;
}

section.cards pre {
  padding-left: 180px;
  padding-right: 5px;
}

section.cards li {
  border: 3px outset black;
  max-width: 500px;
}

div.money {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
}
